*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.navbar{
    position: sticky;
    
    width: 50%;
    background: #f5f5f5;
    
}

.navbar-brand{
    top: 10;
    left: 10;
    height: 30px;
    width: 30px;
}


.nav-item{
    display: flex;
    right: 2cm;
}
.search{
    width: 200px;
    display: flex;
}

.search-box{
  
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
}


.search-box::placeholder{
    color: #a9a9a9;
}


